<html>
<title> Output SRX Policy Configuration </title>
<h2> ##SRX config for {{ num_of_policy }} policies </h2>
<pre>
security {
   zones {
    security-zone {{zone_A}} {
       interfaces {
         {{Interface_A}} {
            host-inbound-traffic {
            	system-services {
            	   all;
            }
        }
     }
   }
}
    security-zone {{zone_B}} {
        interfaces {
           {{Interface_B}} {
              host-inbound-traffic {
                 system-services {
                    all;
             }
          }
       }
    }
    	address-book {
	       {% for k in range(1, (num_of_policy | int) + 1 ) %}
    	      address XXX-addr-{{k}} 10.10.{{k//256}}.{{k%256}}/32;
    	   {% endfor %}
    }
    }
   }
   policies {
     from-zone {{zone_A}} to-zone {{zone_B}} {
	 {% for k in range(1, num_of_policy | int) %}
        policy XXX-{{k}} {
		   match {
	          source-address any;
	    	  destination-address XXX-addr-{{k}};
	    	  application any;
		   }
		   then {
	    		permit;
			{% if logging == "on" %} log {
				session-init
			    } {% endif %}
	        {% if count == "on" %} count {% endif %}
	        }
        }
	{% endfor %}
	 }
   }
}
</pre>
</html>
